
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
main{
    width: 60%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(187, 107, 107);
}
.container{
    width: 40%;
    height: 60vh;
    background: rgb(61, 148, 122);
    display: flex;
    align-items: center;
    justify-content: center;
}
.options{
    width: 15rem;
    height: 15rem;
}
.hide{
    display:none ;
}
.search{
    padding-left: 1.2rem;
    border-radius: .2rem;
    border: none;
}
.tag{
    width: 80%;
    height: 1.5rem;
    background: white;
    color: grey;
    margin-left: 1rem;
    border-radius: .2rem;
    padding-left: .5rem;

}
li{
    list-style: none;
    margin-left: -2rem;
    margin-top: .3rem;
    
    height: 2rem;
    
}
li:hover{
    background: rgba(255, 255, 255, 0.61);
    width: 90%;
}
.crazy{
    margin-top: .5rem;
    height: 15rem;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.crazy::-webkit-scrollbar{
    width: 10px;
    
}
.crazy::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 15px;
}

.bottom{
    background: skyblue;
    height: 15rem;
    width: 100%;
    visibility: hidden;
    margin-top: .3rem;
}
.top{
    background: skyblue;
    height: 15rem;
    visibility: visible;
    width: 100%;
}



















