*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/classroom-2093744.jpg);
    background-size: cover;
}
h1{
    margin-top: 10rem;
    margin-left: 10rem;
}
h2{
    margin-left: 15rem;
    margin-top: 2rem;
}
button{
    border: none;
    height: 2.5rem;
    width: 14rem;
    border-radius: .5rem;
    padding: .3rem, 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 10rem;
}
#icrement-btn {
    background: red;
}
.test-element{
    font-size: 20px;
    color: green;
}